// #faq_herobanner{
//     .hero-content{
//         display: flex;
//         flex-direction: column;
//     }

//     .aside{
//         display: flex;
//         flex-direction: column;
//         gap: 1rem;
//     }
// }
