// _form.scss
.contact {
  background: rgba(255, 255, 255, 0.9);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 3rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $color-accent;
    text-align: center;
  }

  form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    textarea {
      margin-bottom: 1.2rem;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      width: 100%;

      &:focus {
        border-color: $color-accent;
        outline: none;
      }
    }

    input[name="name"],
    input[name="email"] {
      max-width: 400px;
    }

    textarea[name="message"] {
      min-height: 200px;
      resize: vertical;
    }

    .form-buttons {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 100%; // s’étend sur toute la largeur du formulaire
      justify-content: center;

      .btn-primary,
      .whatsapp {
        flex: 1; // prend toute la place disponible
        max-width: 200px; // limite la largeur si tu veux éviter qu’ils s’étirent trop
        text-align: center; // centre le texte/icône
        padding: 1rem;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .btn-primary {
        background: transparent;
        border: 2px solid $color-accent;
        color: $color-accent;

        &:hover {
          background: $color-accent;
          color: white;
          box-shadow: 0 4px 15px rgba(0, 55, 184, 0.2);
        }
      }

      .whatsapp {
        color: $color-accent;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          margin-right: 0.5rem;
        }

        &:hover {
          background: #1fd366;
        }
      }
    }
  }
}
