@import "variables";
@import "global";
@import "header";
@import "hero";
@import "about";
@import "form";
@import "footer";
@import "faq-hero-banner";
@import "testimonials";
@import "responsive";

// Fix global pour mobile
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}
